.title {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.titleGr{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: rgb(112, 245, 3);
}

.btn-circle-select{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #045BC2;
  width: 75vw;
  border-radius: 2rem;
}

.btn-circle-create{
  font-family: 'Oswald', sans-serif;
  text-align: center;
   font-size: 1.5rem;
  color: white;
  background-color: #01C3EE;
  width: 75vw;
  border-radius: 2rem;
}

.btn-circle-log{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #09EBB5;
  width: 75vw;
  border-radius: 2rem;
}

.btn-circle-guest{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #09EB48;
  width: 75vw;
  border-radius: 2rem;
}

#userSignUp{
  border-radius: 2rem;
  font-size: 1.5rem;
}

#createUserName{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: black;
}

.welcome{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 2rem;
  color: black;
}
