.title {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}

.titleGr{
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  color: rgb(99, 206, 11);
}

.btn-circle-select{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #045BC2;
  width: 75vw;
  border-radius: 2rem;
}

.btn-circle-create{
  font-family: 'Oswald', sans-serif;
  text-align: center;
   font-size: 1.5rem;
  color: white;
  background-color: #01C3EE;
  width: 75vw;
  border-radius: 2rem;
}

.btn-circle-log{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #09EBB5;
  width: 75vw;
  border-radius: 2rem;
}

.btn-circle-guest{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #09EB48;
  width: 75vw;
  border-radius: 2rem;
}

#userSignUp{
  border-radius: 2rem;
  font-size: 1.5rem;
}

#createUserName{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  border-radius: 2rem;
  color: black;
}

input[id="createUserName"]::-webkit-input-placeholder {
  color: skyblue;
}
input[id="createUserName"]::-moz-placeholder {
  color: skyblue;
}
input[id="createUserName"]::-ms-placeholder {
  color: skyblue;
}
input[id="createUserName"]::placeholder {
  color: skyblue;
}

.welcome{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  font-size: 2rem;
  color: black;
}

input[type=range] {
  -webkit-appearance: none;
  background: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: rgb(254, 59, 115);
  height: 21px;
  width: 21px;
  margin-top: -8px;
  border-radius: 99px;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 800px;
  height: 8px;
  background: #ddd;
}

.miles {
  font-size: 1.5rem;
  font-family: 'Oswald', sans-serif;
}

.search{
  border-radius: 2rem;
  font-size: 1.125rem;
  color: #ddd;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.wrapper{
  position: relative;
}

.mag-glass{
  position: absolute;
  right: 0.75rem;
  bottom: 0.5rem;
  color: rgb(245, 152, 152);
}

.pin{
  position: absolute;
  top: 0.5rem;
  color: rgb(245, 152, 152);
}

input[id="search-area"]::-webkit-input-placeholder {
  color: skyblue;
}
input[id="search-area"]::-moz-placeholder {
  color: skyblue;
}
input[id="search-area"]::-ms-placeholder {
  color: skyblue;
}
input[id="search-area"]::placeholder {
  color: skyblue;
}

.fa-heart{
  color: rgb(216, 28, 28);
}

.fa-user{
  color: rgb(5, 135, 241);
}

.fa-chevron-circle-left{
  color: rgb(41, 241, 15);
}

.fa-chevron-circle-right{
  color: rgb(41, 241, 15);
}

.fa-plus-circle{
  color: rgb(41, 241, 15);
}

.ratings{
  color: rgb(216, 28, 28);
}

.gyminfo{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.fa-map-marker-alt{
  color: rgb(216, 28, 28);
}

.user-rating{
  color: rgb(216, 28, 28);
}

.detail-name{
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.detail-rating{
  color: rgb(216, 28, 28);
}

.detail-price{
  font-family: 'Oswald', sans-serif;
  color: rgb(216, 28, 28);
}

.detail-dist{
  font-family: 'Oswald', sans-serif;
}

.detail-info{
  font-family: 'Oswald', sans-serif;
}
